process {
    cpus   = 1
    memory = '4.GB'
    time   = '4.h'
    errorStrategy = 'finish'
    withLabel:process_low    { cpus = 2; memory = '4.GB' }
    withLabel:process_medium { cpus = 4; memory = '8.GB' }
    withLabel:process_high   { cpus = { Math.min(params.max_cpus, 8) }; memory = '16.GB'; time = '12.h' }
}
